Source: zfs-replicate
Priority: optional
Maintainer: Neal H. Walfield <neal@walfield.org>
Build-Depends: debhelper (>= 9), help2man
Standards-Version: 3.9.4
Section: utilities
Homepage: 
Vcs-Git: 
Vcs-Browser: 

Package: zfs-replicate
Architecture: all
Depends: ${misc:Depends}, zfs-linux | debian-zfs
Description: Utility to locally or remotely replicate ZFS datasets.
 This utility robustly replicates ZFS datasets.  It builds on the
 low-level functionality of zfs send and zfs receive to copy the data.
 This utility automatically manages the required snapshots and
 gracefully recovers from errors.  It it well suited to call from cron
 or to maintain a live replica.
